---
layout: default
---
<div class="category-page">
  <h1>{{ page.title }}</h1>
  {% if page.description %}
    <p class="category-description">{{ page.description }}</p>
  {% endif %}

  <div class="post-list">
    {% for post in site.posts %}
      {% if post.category == page.category_name %}
        <article class="post-card">
          {% if post.image %}
            <img src="{{ post.image }}" alt="{{ post.title }}" class="post-image">
          {% endif %}
          <div class="post-content">
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            <time>{{ post.date | date: "%B %d, %Y" }}</time>
            <p>{{ post.excerpt | strip_html | truncate: 150 }}</p>
          </div>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</div>
